@use './variables';
@use './reset';
@use './theme';
@use './fonts';
@use './classes';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--app-bg);
  color: var(--text);
   font-family: 'Inter', sans-serif;

}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

